/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "@ng-select/ng-select/scss/default.theme";

// bootstrap overrides
ul.pagination {
  margin-bottom: 0;
}

.dropdown-toggle::after, .dropup .dropdown-toggle::after {
  content: none;
}

.table {
  th, td {
    vertical-align: baseline;
  }
}

////

// ng icon overrides
button > ng-icon {
  position: relative;
  top: 1px;
}

// overrides for invalid controls
.form-control {

  &.ng-invalid.ng-touched {
    border-color: var(--bs-danger);

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }
  }

}
