<h1>Assorted demo, experiments...</h1>

<ul class="menu">
  <li class="menu-list-item link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </li>
  <li class="menu-list-item link" routerLinkActive="active">
    <a [routerLink]="['image-editor']" routerLinkActive="active">Image editor demo</a>
  </li>
  <li class="menu-list-item link" routerLinkActive="active">
    <a [routerLink]="['file-dropper']" routerLinkActive="active">File dropper demo</a>
  </li>
  @for (entry of colorSchemeMap; track entry.code) {
    <li class="menu-list-item">
      <label> {{ entry.label }} <input type="radio" [(ngModel)]="appColorScheme" [value]="entry.code"/></label>
    </li>
  }
</ul>

<router-outlet></router-outlet>
