:host {
  display: block;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

a.active {
  font-weight: bold;
  pointer-events: none;
}

.menu-list-item {
  list-style-type: none;
  &.link {
    list-style-type: disclosure-closed;
    &.active {
      list-style-type: disclosure-open;
    }
  }
}
