<div class="controls">
  <div>
    <label>accept&nbsp;</label>
    <input type="text" [(ngModel)]="accept"/>
  </div>
  <div>
    <label>
      traverseDirectories&nbsp;
      <input type="checkbox" [(ngModel)]="traverseDirectories"/>
    </label>
  </div>
  <div>
    <label>
      fileDropDisabled&nbsp;
      <input type="checkbox" [(ngModel)]="fileDropDisabled"/>
    </label>
  </div>
</div>

<div class="dropzone-controls">
  <div class="filedrop" draggable="true" (dragstart)="dragstartInDraggable($event)">
    I'm draggable. But not file.
  </div>

  <div
    class="filedrop"
    [class.file-over]="fileDropState() === 'drag'"
    [class.file-collects]="fileDropState() === 'collect'"
    appUtilsFileDropZone
    [fileDropAccept]="accept()"
    [fileDropTraverseDirectories]="traverseDirectories()"
    [fileDropDisabled]="fileDropDisabled() || fileDropState() === 'collect'"
    (fileDropStateChange)="fileDropState.set($event)"
    (filesDropped)="filesDropped.set($event)"
    (filesDropFailed)="fileDropFailed.set($event)"
  >
    @if (fileDropDisabled()) {
      Try... But I'm disabled.
    } @else if (fileDropState() === 'drag') {
      And drop here!
    } @else if (fileDropState() === 'collect') {
      Collect entries in file system, wait...
    } @else {
      Drag something here...
    }
  </div>
</div>

<div>
  Choosed files:
  @for (fileItem of filesDropped(); track $index) {
    <div>{{ fileItem.filesystemEntry?.fullPath }} {{fileItem.file?.name}} {{ fileItem.file?.type }}</div>
  }
</div>


