:host {
  display: block;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  > * {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-style: solid;
    border-width: thin;
    border-color: ButtonBorder;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    background-color: Canvas;
    color: CanvasText;
  }
}

.images-row {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.image-box {
  display: inline-block;
  padding: 1rem;
  border-style: dashed;
  border-width: thin;
  border-color: ButtonBorder;
}

.result-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
